version: '3.8'

networks:
  pg-replication:
    driver: bridge
    # Container có thể giao tiếp với nhau
    # Có thể truy cập internet
    # Bị cách ly với host network
    ipam:
      config:
        - subnet: 172.21.0.0/16 # 172.21.0.0 đến 172.21.255.255

services:
  # PRIMARY DATABASE
  pg-primary:
    image: postgres:15
    container_name: pg-primary
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: testdb
    ports:
      - "5432:5432"
    volumes:
      - ./primary/postgresql.conf:/etc/postgresql/postgresql.conf:ro
      - ./primary/pg_hba.conf:/etc/postgresql/pg_hba.conf:ro
      - ./primary/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
      - primary-data:/var/lib/postgresql/data
    command:
      - "postgres"
      - "-c"
      - "config_file=/etc/postgresql/postgresql.conf"
      - "-c"
      - "hba_file=/etc/postgresql/pg_hba.conf"
    networks:
      pg-replication:
        ipv4_address: 172.21.0.2 # IP cố định cho primary
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  # REPLICA 1
  pg-replica1:
    image: postgres:15
    container_name: pg-replica1

    ports:
      - "5433:5432"
    volumes:
      - replica1-data:/var/lib/postgresql/data
    # Check PG_VERSION để tránh clone lại mỗi lần restart
    # -R flag tự động tạo replication config (standby.signal)
    # depends_on: Đảm bảo primary start trước
    # Replica sẽ copy toàn bộ data từ Primary (bao gồm cả user/password)
    entrypoint: /bin/bash
    command:
      - -c
      - |
        if [ ! -f /var/lib/postgresql/data/PG_VERSION ]; then
          echo '=== Cloning from primary ==='
          until pg_isready -h pg-primary -U postgres; do # Chờ primary ready
            echo 'Waiting for primary...'
            sleep 2
          done
          PGPASSWORD=postgres pg_basebackup -h pg-primary -U replicator -D /var/lib/postgresql/data -Fp -Xs -P -R -S replica1_slot
          chown -R postgres:postgres /var/lib/postgresql/data
        fi
        exec docker-entrypoint.sh postgres
    depends_on:
      pg-primary:
        condition: service_healthy
    networks:
      pg-replication:
        ipv4_address: 172.21.0.3 # IP cố định cho replica 1

  # REPLICA 2
  pg-replica2:
    image: postgres:15
    container_name: pg-replica2
    ports:
      - "5434:5432"
    volumes:
      - replica2-data:/var/lib/postgresql/data
    entrypoint: /bin/bash
    command:
      - -c
      - |
        if [ ! -f /var/lib/postgresql/data/PG_VERSION ]; then
          echo '=== Cloning from primary ==='
          until pg_isready -h pg-primary -U postgres; do
            echo 'Waiting for primary...'
            sleep 2
          done
          PGPASSWORD=postgres pg_basebackup -h pg-primary -U replicator -D /var/lib/postgresql/data -Fp -Xs -P -R
          chown -R postgres:postgres /var/lib/postgresql/data
        fi
        exec docker-entrypoint.sh postgres
    depends_on:
      pg-primary:
        condition: service_healthy
    networks:
      pg-replication:
        ipv4_address: 172.21.0.4

volumes:
  primary-data:
  replica1-data:
  replica2-data: